body{    
    text-align: center;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display:block;
}

#tit{
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    width: 600px;
    font-weight: lighter;
    display: block;
    transition: .2s;
    font-size: 60px;
}

button{
    font-family: 'poppins',sans-serif;
    font-style: italic;
    width: 200px;
    height: 200px;
    margin: none;
}

section{
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

div{
    display: flex;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
    transition: .2s;
    border-width: 2px;
    background-color: black;
    font-size: 80px;
}

.but_p1{
    transition: .2s;
    color: rgb(123, 255, 0);
    border-color: rgba(123, 255, 0, 0.253);
}

.but_p2{
    transition: .2s;
    color: rgb(255, 0, 234);
    border-color: rgba(255, 0, 234, 0.253);
}

#b1{
    border-radius: 20px 0px 0px 0px;
}

#b3{
    border-radius: 0px 20px 0px 0px;
}

#b7{
    border-radius: 0px 0px 0px 20px;
}

#b9{
    border-radius: 0px 0px 20px 0px;
}

#reset{
    transition: .2s;
    margin: auto;
    width: 150px;
    display: block;
    height: 60px;
    margin-top: 60px;
    background-color: black;
    font-size: 25px;
    font-weight: 100;
    justify-content: center;
    transition: .2s;
    border-radius: 10px;
}

.tit_p1{
    transition: .2s;
    color:rgb(123, 255, 0);
    text-shadow: 0px 0px 20px rgb(123, 255, 0);
}


.tit_p2{
    transition: .2s;
    color:rgb(255, 0, 234);
    text-shadow: 0px 0px 20px rgb(255, 0, 234);
}

.sec_p1{
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(123, 255, 0);
}

.sec_p2{
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(255, 0, 234);
}

.win_p1{
    box-shadow: 0px 0px 20px rgb(123, 255, 0) inset;
    text-shadow: 0px 0px 20px rgb(123, 255, 0);
}

.win_p2{
    box-shadow: 0px 0px 20px rgb(255, 0, 234) inset;
    text-shadow: 0px 0px 20px rgb(255, 0, 234);
}

.rst_p1{
    transition: .2s;
    color: rgb(123, 255, 0);
}

.rst_p2{
    transition: .2s;
    color: rgb(234, 0, 255);
}

.w_p1{
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(123, 255, 0);
}

.w_p2{
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(234, 0, 255);
}

.but:hover{
    transition: .2s;
    box-shadow: 0px 0px 20px inset;
}

#reset:hover{
    transition: .2s;
    text-shadow: 0px 0px 10px;
}